/* woff */
@font-face {
  font-family: 'Epidemic';
  font-weight: 500;
  font-display: swap;
  src: url('https://cdn.epidemicsound.com/legacy/16/fonts/epidemic/Epidemic-Medium.woff')
    format('woff');
}

@font-face {
  font-family: 'Epidemic';
  font-weight: 600;
  font-display: swap;
  src: url('https://cdn.epidemicsound.com/legacy/16/fonts/epidemic/Epidemic-SemiBold.woff')
    format('woff');
}

@font-face {
  font-family: 'Epidemic';
  font-weight: 700;
  font-display: swap;
  src: url('https://cdn.epidemicsound.com/legacy/16/fonts/epidemic/Epidemic-Bold.woff')
    format('woff');
}

/* woff2 */
@font-face {
  font-family: 'Epidemic';
  font-weight: 500;
  font-display: swap;
  src: url('https://cdn.epidemicsound.com/legacy/16/fonts/epidemic/Epidemic-Medium.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Epidemic';
  font-weight: 600;
  font-display: swap;
  src: url('https://cdn.epidemicsound.com/legacy/16/fonts/epidemic/Epidemic-SemiBold.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Epidemic';
  font-weight: 700;
  font-display: swap;
  src: url('https://cdn.epidemicsound.com/legacy/16/fonts/epidemic/Epidemic-Bold.woff2')
    format('woff2');
}

body {
  margin: 0;
  font-family: 'Epidemic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
