.listWrapper {
	position: relative;
	width: 180px;
	height: 180px;
	background: #515151;
	cursor: pointer;
	box-shadow: inset 1px -124px 53px -41px rgba(0, 0, 0, 0.5);
}
.listWrapper ul {
	gap: 0;
	display: grid;
	padding: 0;
	grid-template-areas:
		"img img"
		"img img";
	list-style-type: none;
	margin: 0;
}

li.soloImage img {
	height: 180px;
}
li img {
	height: 90px;
}

.listWrapper h3 {
	left: 0;
	margin: 0%;
	bottom: -4px;
	height: 44px;
	width: 181px;
	display: flex;
	color: white;
	padding: 0 8px;
	position: absolute;
	align-items: center;
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(0, 0, 0, 0) 100%
	);
}
