.modalContainer {
	top: 0;
	z-index: 1;
	width: 90vw;
	height: 55vh;
	background: pink;
	position: absolute;
	overflow-y: scroll;
	border-radius: 4px;
}
.modalContainer::-webkit-scrollbar {
	display: none;
}

.topSection {
	position: sticky;
	top: 0;
	display: flex;
}

.modalContainer img {
	width: 3%;
	top: 10px;
	right: 10px;
	height: auto;
	opacity: 0.65;
	cursor: pointer;
	position: absolute;
}

.creatBtn {
	width: 100px;
	height: 50px;
	background: white;
	border: none;
	border-radius: 6px;
	margin: 10px 0 0 39px;
	font-family: "Epidemic", sans-serif;
	color: #999797;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}
.creatBtn:hover {
	background-color: rgb(233, 232, 232);
}

.modalContainer input {
	width: 600px;
	height: 50px;
	border: none;
	border-radius: 6px;
	margin: 10px 0 0 39px;
	padding: 0px 13px;
	font-family: "Epidemic", sans-serif;
	color: #b5b5b5;
	font-size: 16px;
	font-weight: 600;
}
.modalContainer input:focus {
	outline: none;
}

.availableTracksContainer ul {
	list-style: none;
	padding: 0;
}
.availableTracksContainer ul li {
	cursor: pointer;
	padding: 0 36px;
}

.availableTracksContainer ul li:hover {
	background-color: rgb(210, 156, 165);
}
